@media (min-width: 1500px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1450px !important;
  }
}

.app-container {
  .header-container {
    .navbar {
      padding-top: 20px;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0) !important;
      .nav-link {
        &.active {
          color: blue;
        }
      }
    }
  }
}

video {
  width: 100vw;
  position: fixed;
  bottom: 0;
}

button.login-btn {
  margin-right: 15px;
  border-radius: 8px;
  border: 1px solid #535353;
  padding: 0px 15px;
  height: 40px;
}

button.signup-btn {
  border-radius: 8px;
  background: #303030;
  padding: 0px 15px;
  color: white;
  height: 40px;

  &:hover {
    background-color: #535353;
  }
}
.homepage-content {
  position: relative;
  padding: 0 100px;
  width: 50%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .title-1 {
    font-size: 45px;
    font-weight: 600;
  }

  .title-2 {
    font-size: 25px;
  }

  .title-3 {
    button {
      border-radius: 5px;
      height: 40px;
      background: #303030;
      padding: 0px 15px;
      color: white;
      height: 40px;
      border: none;
      &:hover {
        background-color: #535353;
      }
    }
  }
}
